<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="/static/css/help/index.css"/>
</head>
<body>
    <div>
        <img src="/static/img/box.png" alt="">
        <i class="icon-font icon-phone"></i>
    </div>
    <script src="/static/js/lib/zepto.js"></script>
    <script src="/static/js/lib/require.js"></script>
    <script>
        var modName = 'js/help/index';
        var modUrl = '/static/js/help/index.js';
        var paths = {};
        paths[modName] = modUrl.replace('.js', '');
        require.config({
            baseUrl: '/static',
            paths: paths
        })
        require([modName], function (mod) {
            mod && mod.init && mod.init()
        });
    </script>
</body>
</html>html5